services:
    php-unit:
        build:
            context: php-unit
            target: development
            args:
                # UID and GID must be set as environment variables on the host machine
                USER_ID: 1000
                GROUP_ID: 1000
        ports:
            - 8787:8080
        volumes:
            - ..:/var/www/html
